<!--CABECERA-->
<header>
    <ul>
        <li><a [routerLink]="['/sobre-mi']">Sobre mi</a></li>
        <li><a [routerLink]="['/proyectos']">Proyecto</a></li>
        <li class="logo">
            <a href="#">FA</a>
        </li>
        <li><a [routerLink]="['/crear-proyecto']">Crear Proyecto</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
    </ul>
</header>
<!--SECCION-->
<section id="content">
    <router-outlet></router-outlet>
</section>
<!--FOOTER-->
<footer>
    Portafolio-Js Fernando &copy;
</footer>