<div class="container">
    <h1>Contacto</h1><br>
    
    <div id="texto" #textos >
        <p>
            Esta es la pagina de contacto, envianos tus dudas.
        </p>
    </div>

    <!--
    Tamaño del Slider: 
    <input type="number" [(ngModel)]="widthSlider"
    (keyup.enter)="cargarSlider()" (keydown.enter)="resetearSlider()">
    
    <span> Con botones: </span>
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>
    
    <div *ngIf="anchuraToSlider">
        <slider [anchura]="anchuraToSlider"
                [etiquetas]="captions"
                (conseguirAutor)="getAutor($event)">
        </slider>
    </div>
    <div class="container" *ngIf="autor">
        {{autor.nombre +" "+ autor.linkedin}}        
    </div>
    -->
</div>
