<div id="title">

    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p><a href="https://www.linkedin.com/in/fernando-ancajima-85516b164/" target="_blank" rel="noopener">{{web}}</a></p>
    <p><a href="https://github.com/FerNanDoAnc?tab=repositories" target="_blank" rel="noopener">Git Hub</a></p>

</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Desarrollador web, con dominio de Angular, Node y otras herramientas de desarrollo. 
        Capacitación constante en nuevos frameworks y Tecnologías del desarrollo de software.
    </p>
</article>