<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Sit ullam minus officiis 
        quam nulla earum deserunt veniam officia unde,
        dolorum iusto provident nihil reiciendis modi maiores,
        commodi rem suscipit omnis.Minima nemo placeat velit dolores distinctio.
        Laboriosam, recusandae facere.
    </p>
</article>