/*Importando fuentes custom-personalizadas*/
/*@font-face {
    font-family: "yanone";
    src: url("/fonts/yanone.ttf");
}*/
@font-face {
    font-family: "finger";
    src: url("/fonts/finger.ttf");
}
/*Estilos generales*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Londrina Solid', cursive;
    font-size: 25px;
    background: url(../img/pattern.png);
    background-attachment:fixed;
}
.clearfix{
    float: none;
    clear: both;
}
/*barra de navegacion_CABECERA*/
header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(15, 15, 15, 0.8);
    position: fixed;
    text-transform: uppercase;
}
header ul {
    display: block;
    width: 45%;
    height: inherit;
    margin: 0px auto;
    margin-top: 0px;
}
header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 80px;
}
header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 360ms;
}
header a:hover,
.actived{
    background: rgba(219, 31, 31, 0.8);
    border-radius: 8px;
}

/*Logotipo*/
#logo{
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
}
#logo a{
    transition: color 500ms, transform 500ms;
}
#logo a:hover{
    background: transparent;
    color: rgba(219, 31, 31, 0.8);
    transform: scale( 1.8, 1.80);
}

/*Contenedor principal*/
#content{
    min-height: 640px;
    height: auto;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px rgb(53, 45, 45);
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 115px;
}

/*Pie de pagina*/
footer{
    width:16%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/*SOBRE MI*/
#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
#title h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 55px;
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 5px;
}
#title h2{
    font-size: 25px;
    color:gray;
    margin-top: 5px;
    margin-bottom: 5px;    
}
article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}
.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.about p{
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

/*SECCION CON FORMULARIO*/
.container {
    padding: 70px;
    padding-top: 10px;
}
.container .image {
    float: left;
    width: 47%;
}
.container .image img{
    width: 100%;
}
.container .data {
    float: left;
    width: 48%;
    margin-left: 30px;
}
.container h2{
    display: block;
    border-bottom:  1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
form{
    width: 80%;
    font-size: 92%;
}
form label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 8px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    font-size: 0.8em;
    width: 40%;
    height: 1.8em;
    border-radius: 8px;
}
form button,
form input[type="submit"],
.button-edit,
.button-delete{
    display: block;
    font-size: 25px;
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: #4CAF50;
    border: 1px solid #0b7c0f;
    cursor: pointer;
    border-radius: 8px;

}
.button-edit,
.button-delete{
    width:20%;
    float: left;
    margin-right: 10px;
}
.button-edit{
    background: #ffc107 ;
    border: 1px solid #e68a00;
}
.button-edit:hover{
    background: #ebad02 ;
    border: 1px solid #e68a00;
}
.button-delete{
    background: #f53a2d;
    border: 1px solid #da190b;
}
.button-delete:hover{
    background: #da190b;
    border: 1px solid #da190b;
}

form button:hover,
form input[type="submit"]:hover{
    background: #46a049;
    border: 1px solid #0b7c0f;
    border-radius: 8px;
}
form input[disabled]{
    cursor: not-allowed;
    
}

form button:active,
form input[type="submit"]:active{
    border-radius: 8px;
    background: #46a049;
    border:2px solid #0b7c0f;
    margin-right:10px;
}
.form_error{
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
    color: #f44336;
}
.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}
.success{
    color: #4CAF50;
}
.message a{
    color: #2196F3;
}
.failed{
    color: #f44336;
}

/*PAGINA DE PROYECTOS*/
.project{
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
/*Marca para que corte lo que sobresalga*/
.project .image{
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
}
.project img{
    width: 100%;
}
.project a{
    text-decoration: none;
    color: black;
}